@import "../../../../subcircuitBrowser/directives/subcircuitDetails/styles/connectorsDescription.scss";

.component-details-grid {

    h3 {
        margin-top: 2ex;
        margin-bottom: .5ex;
        font-size: 150%;
    }

    font-size: 92%;

    .component-icon-container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 80px;
        height: 80px;
        text-align: center;

        .component-icon {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .property-table {
        margin-bottom: 1ex;
    }

}
