<div class="component-search">
    <input type="text" name="search"
           ng-model="ctrl.searchText"
           ng-keydown="ctrl.keydownInSearchField($event)"
           class="form-control search-field"/>
    <button class="btn btn-default search-button" ng-click="ctrl.doSearch()">Search</button>
</div>
