<component-details
    properties="item.details.properties"
    details="item.details.documentation"
    ng-class="{ 'expanded-details': item.expandedDetails }"></component-details>
<show-more-button ng-if="!item.expandedDetails" ng-click="item.expandDetails(item)"></show-more-button>
<show-less-button ng-if="item.expandedDetails" ng-click="item.expandedDetails = false;"></show-less-button>
