<header>
    <h4 class="list-view-header">
        <download-button ng-if="!config.noDownload" ng-click="config.itemDownload($event, item)"></download-button>
        <info-button ng-if="item.octopart !== undefined" label="'View on Octopart'" ng-click="config.itemInfo($event, item)"></info-button>

        <span class="item-title">{{ item.title }}</span>
    </h4>
    <il-item-menu></il-item-menu>
</header>
