@import "../../../../componentBrowser/directives/componentListing/styles/componentListing.scss";

.content-listing.subcircuit-listing .listing-views {
    padding-top: 90px;
}

.embedded {

    .content-listing.subcircuit-listing .listing-views {
        padding-top: 0;
    }

}
