<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Library styles -->
    <% _.forEach(styles, function(style) { %><link rel="stylesheet" type="text/css" href="<%- style %>">
    <% }); %>
    <!-- // Library styles -->

    <link rel="stylesheet" type="text/css" href="../componentBrowser/styles/componentBrowser-app.css">

    <link rel="stylesheet" type="text/css" href="styles/subcircuitBrowser-app.css">

    <title>MetaMorph Subcircuit Browser</title>
</head>
<body ng-app="mms.subcircuitBrowserApp" class="subcircuit-browser-app" ng-controller="AppController">


<subcircuit-browser
	persist-state-in-url
></subcircuit-browser>



<!-- Library scripts -->
<% _.forEach(scripts, function(script) { %><script src="<%- script %>"></script>
<% }); %>
<!-- // Library scripts -->

<script src="../componentBrowser/scripts/componentBrowser-templates.js"></script>


<script src="scripts/subcircuitBrowser-templates.js"></script>
<script src="scripts/subcircuitBrowser.js"></script>


</body>
</html>
