<div class="info-button"
     type="button"
     ng-attr-title="{{::label}}">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    <span class="info-text"> {{::label}} </span>
</div>
