.content-list-view {

    .connectors-description {
        display: none;
    }

    .expanded-details {

        .connectors-description {
            display: block;
        }

    }

    .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .item-list ul.list-group li.item-list-item {

        border-left: none;
        border-right: none;

        &.context-menu-trigger {
            cursor: default;
        }

        &:hover {
          .info-button {
            opacity: 1;
          }
        }

    }

	.info-button {
		text-align: center;
		display: inline-block;
		position: absolute;
        bottom: 0;
        left: 0;
        padding: 2px 15px 1px;
        color: #fff;
        background-color: #1976d2;
        border-top-right-radius: 10px;
        transition: background-color 200ms, opacity 200ms;
        z-index: 10;
        opacity: 0;

    		&:hover {
    			color: #fff;
    			background-color: #E65100;
    		}
    	}
}

.detail-name, .detail-value {
    font: {
        size: 8px;
    }
}

.detail-name {
    font-weight: bold;
    width: 8em;
    text-align: right;
}

.detail-value {
    width: 10em;
    text-align: left;
}

.property-table {
    display:inline-table;
    vertical-align: top;
    margin-right: 3px;
}

td {
    border-collapse: collapse;
    padding: 1px;
}

table tr:nth-child(odd), .icon-header {
    background-color: transparent;
}

table tr:nth-child(even) {
    background: rgba(0, 0, 0, .08);
}

.item-details {
    margin-bottom: 10px !important;
}

.description-container {
    display: inline-block;
    margin-left: 5px;
}
.description-header {
    font-weight: bold;
    font-size: 9px;
    margin-bottom: 2px;
}
.description {
    overflow: auto;
    width: 200px;
    max-height: 50px;
    padding-left: 5px;
    margin: 0px !important;
    color: inherit !important;
    font: {
        size: 9px;
    }
}
::-webkit-scrollbar {
    display: none;
}

.list-view-header {
    margin-top: 10px;
    margin-bottom: 5px;
}
