$header-height: 100px;

.content-browser {

    height: 100%;
    overflow: hidden;

    letter-spacing: -0.1px;

    #morph-logo {
        width: 240px;
        margin-top: -10px;
    }

    .header-panel {

        width: 100%;
        height: $header-height;
        position: absolute;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        z-index: 20;

        h2 {
            padding: 10px;
            margin-bottom: 20px;
        }
    }

    .top-component-search {
        position: absolute;
        right: 10px;
        z-index: 30;
        top: 4ex;
    }

    .app-booting {
        width: 100%;
    }

    .app-booting-message {
        position: absolute;
        top: 25%;
        text-align: center;
        width: 100%;
    }

    .diagram-container-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        display: block;
        transition: opacity 200ms ease-out 600ms;

        &.initialized {
            display: none;
        }
    }


    .left-panel {
        line-height:30px;
        width:20%;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 100px;
        max-height: 100%;
        overflow: auto;
    }

    .main-container-panel {
        width: 80%;
        padding: 0;
        position: absolute;
        right: 0;

        height: 100%;
        padding-top: $header-height;
        overflow: auto;
    }

    .components {
        padding-left: 21%;
    }


    .info-icon {
        color: #1565C0;
    }

    .panel-info {
        border-color: #1565C0;
    }


    .no-components-to-list {
        margin-top: 40px;
        display: inline-block;
    }


    .count-display {
        position: absolute;
        right: 0;
        margin-top: 0;
        font-size: 85%;
        line-height: 110%;
    }

    .paging-buttons.upper {

        position: absolute;
        width: 100%;
        left: 0;

    }

    .not-empty-list-content {

        .component-search {

            position: absolute;
            right: 0;
            top: -65px;
        }

    }

    .component-listing {

    }

    .empty-list-content {

        margin-top: 80px;

        .component-search {

            width: 100%;

            .form-control.search-field {
                width: 100%;
                max-width: 30em;
            }

        }

    }

    .error-message {
        display: inline-block;
        margin-top: 40px;
    }


    &.embedded {

        .top-component-search  {
            display: none;
        }

        .main-container-panel {
            padding-top: 0;

        }

        .left-panel {
            padding-top: 0;

        }
    }


}
