$connectors-description-width: 240px;

.connectors-description {

    display: block;

    .connector-description {

        display: inline-block;
        position: relative;
        padding: 0.25ex .5ex;
        vertical-align: top;
        margin-bottom: 10px;
        margin-right: .5ex;
        transition: background-color 200ms;
        background-color: transparent;

        &.focused {
            background-color: rgba(200,200,255, .1);
        }

        .connector-name {
            display: inline-block;
            font-size: 92%;
            font-weight: bold;
            margin-right: 1ex;
            border-bottom: 1px solid transparent;
            padding: 0;
        }

        .connector-type {
            display: inline-block;
            font-size: 85%;
            background-color: rgba(0, 0, 0,.2);
            padding: 0.2ex 1ex;
            color: #fff;
            border-radius: 3px;
        }

        .connector-description-text {
            font-size: 11px;
            border-radius: .5ex;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: $connectors-description-width;
        }

    }
}
