@import "connectorsDescription.scss";

$visual-container-height: 200px;
$visual-container-padding: 2px;
$visual-container-width: 300px;

.connector-description {
    padding-left: $visual-container-width + 10px;
}

.subcircuit-details-grid {

    h3 {
        margin-top: 2ex;
        margin-bottom: .5ex;
        font-size: 150%;
    }

    position: relative;
    font-size: 92%;

    .subcircuit-description {

        .subcircuit-description-text {
            padding-right: 90px;
            min-height: 80px;
        }

        &.no-icon {
            .subcircuit-description-text {
                padding-right: 0;
                min-height: 0;
            }
        }

    }

    .subcircuit-icon-container {
        position: absolute;
        top: 10px;
        right: 0;
        width: 80px;
        height: 80px;
        text-align: center;

        .subcircuit-icon {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .subcircuit-visuals {
        margin-top: 2ex;
        position: absolute;
        width: $visual-container-width;
        height: $visual-container-height;
        text-align: center;
        padding: $visual-container-padding;

        .subcircuit-visual {
            max-width: $visual-container-width - 2 * $visual-container-padding;
            max-height: $visual-container-height - 2 * $visual-container-padding;
            display: none;

            &.active {
                display: inline-block;
            }
        }


    }

    &.no-visuals {

        .connectors-description {
            padding-left: 0;
        }
    }

}
