<div class="count-display">
    {{ numeral(ctrl.fromNumber).format('0,0') }} to {{ numeral(ctrl.toNumber).format('0,0') }} of {{ numeral(ctrl.totalCount).format('0,0') }}
	<div class="count-select">
	    Page size:  &nbsp;
	    <select data-ng-model="ctrl.itemsPerPage" data-ng-options="act for act in ctrl.availableItemsPerPage" ng-change="ctrl.setItemsPerPage(ctrl.itemsPerPage)">
	        </select>
	</div>
</div>
