.category-resizer {
    height: 100%;
    padding: 0 12px;
    margin-left: -12px;
    position: absolute;
    top: 0;
    z-index: 10;

    cursor: col-resize;

    .category-resizer-border {
    	width: 1px;
    	height: 100%;
    	background-color: #aaa;
    	opacity: 0.4;
    	transition: opacity 200ms;
    }

	&:hover {

		.category-resizer-border {
			opacity: 1;
		}

	}
}

.embedded {

    .category-resizer {
        padding-top: 0;
    }
}
