<subcircuit-details details="item.details.documentation" ng-class="{ 'expanded-details': item.expandedDetails }"></subcircuit-details>
<show-more-button ng-if="!item.expandedDetails" ng-click="item.expandDetails(item)"></show-more-button>
<show-less-button ng-if="item.expandedDetails" ng-click="item.expandedDetails = false;"></show-less-button>
