<header>
    <h4>
        <download-button ng-if="!config.noDownload" ng-click="config.itemDownload($event, item)"></download-button>
        <info-button ng-if="item.subcircuitSourceURL" label="'View source'" ng-click="config.itemInfo($event, item)"></info-button>
        <span class="item-title">{{ item.title }}</span>
    </h4>
    <il-item-menu></il-item-menu>
</header>
