<div class="component-listing content-listing">

    <div ng-if="ctrl.componentsToList" class="not-empty-list-content">

        <div class="listing-header">

            <div ng-if="!ctrl.resultsForSearchText" class="listing-subheader">
                Components in <i>{{ctrl.selectedCategory.label}}:</i>
            </div>

            <div ng-if="ctrl.resultsForSearchText" class="listing-subheader">
                Search results for <i>{{ctrl.resultsForSearchText}}:</i>
            </div>


            <div class="paging-buttons upper">
                <paging
                    config="ctrl.pagingParameters"
                    on-next-page="ctrl.getNextPage"
                    on-prev-page="ctrl.getPrevPage"
                    >

                </paging>
            </div>

            <count-display from-number="ctrl.pagingParameters.fromNumber"
                           to-number="ctrl.pagingParameters.toNumber"
                           ng-if="ctrl.componentsToList.length"
                           total-count="ctrl.pagingParameters.totalCount"
                           items-per-page="ctrl.pagingParameters.itemsPerPage"
                            set-items-per-page="ctrl.setItemsPerPage"
                           ></count-display>

            <view-selection selected-view="ctrl.selectedView" on-view-selection="ctrl.onViewSelection(view)"></view-selection>
        </div><div class="listing-views container-fluid">

            <component-list-view
                ng-if="ctrl.selectedView === 'ListView'"
                components="ctrl.componentsToList"
                on-item-drag-start="ctrl.onItemDragStart"
                on-item-drag-end="ctrl.onItemDragEnd"
                no-download="ctrl.noDownload"
                content-library-service="ctrl.contentLibraryService"
                ></component-list-view>

            <grid-view
                ng-if="ctrl.selectedView === 'GridView'"
                components="ctrl.componentsToList"
                selected-category="ctrl.selectedCategory"
                search-text="ctrl.searchText"
                column-search-text="ctrl.columnSearchText"
                column-sort-info="ctrl.columnSortInfo"
                paging-parameters="ctrl.pagingParameters"
                new-data="ctrl.newData"
                faceted-search="ctrl.facetedSearch"
                set-faceted-search="ctrl.setFacetedSearch"
                lock-grid-columns="ctrl.lockGridColumns"
                on-item-drag-start="ctrl.onItemDragStart"
                on-item-drag-end="ctrl.onItemDragEnd"
                no-download="ctrl.noDownload"
                ></grid-view>

        </div>

    </div>



</div>
