<div class="property-table-item">
	<div class="property-name" ng-attr-title="{{::ctrl.property.name}}">{{::ctrl.property.name}}:</div><div ng-attr-title="{{::ctrl.property.value}}"class="property-value">{{::ctrl.property.value}}</div>
</div>
