<div class="paging text-center">
    <div class="btn-group" ng-if="ctrl.canPrevPage() || ctrl.canNextPage()">
        <button type="button"
                class="btn btn-default previous-page"
                aria-label="List"
                title="Previous page"
                ng-disabled="!ctrl.canPrevPage()"
                ng-click="ctrl.prevPage()"
            >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
        <button type="button"
                class="btn btn-default next-page"
                aria-label="Grid"
                title="Next page"
                ng-disabled="!ctrl.canNextPage()"
                ng-click="ctrl.nextPage()"
            >
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
</div>
