.paging {

    .btn[disabled] {
        opacity: 0.18;
    }

    .previous-page {
        width: 60px;
        margin-right: 2ex;
    }

    .next-page {
        width: 60px;
        margin-left: 2ex;
    }
}
