.show-less-button {

    font-weight: normal;

    color: #1976D2;
    font-size: 12px;

    border-radius: .5ex;
    padding: 0.5ex 1ex 0.5ex 2ex;
    display: inline-block;

    &:hover {
        cursor: pointer;
        color: #E65100;
    }
}
