$app-header-height: 100px;
$listing-header-height: 90px;

.content-listing {

    height: 100%;
    width: 100%;
    min-width: 615px;
    overflow-y: hidden;

    .listing-header {
        position: absolute;
        background-color: #fff;
        z-index: 2;
        height: $listing-header-height;
        width: 100%;
        min-width: 615px;
        padding: 40px 10px 0 10px;

        button.btn {
            font-size: 13px;
            padding: 1ex;
            line-height: 16px;
        }
    }

    .listing-subheader {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .listing-views {
        margin-top: 0;
        position: absolute;
        top: 0;
        padding-top: $listing-header-height + $app-header-height;
        height: 100%;
        width: 100%;
        min-width: 615px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .view-selection {
    }

    .actions {
        text-align: center;
    }
}

.embedded {

    .listing-views {
        padding-top: $app-header-height;
    }

}
