.grid-view {
	.ui-grid {
		margin: 1em 0;
	}

	.info-button {

		display: inline-block;
		font-size: 17px;
		vertical-align: middle;

		.info-text {
			display: none;
		}
	}

	.download-button + .info-button {
		margin-left: 5px;
	}
}
