<div class="subcircuit-browser content-browser" ng-class="{ 'embedded': ctrl.embedded } ">

    <div class="header-panel" ng-if="!ctrl.embedded">
        <h2><img id="morph-logo" src="images/metamorph.png"/> Subcircuit Browser</h2>
    </div>
    <component-search
        ng-if="ctrl.componentsToList"
        search-text="ctrl.searchText"
        class="top-component-search"
        column-search-text="ctrl.columnSearchText"
        do-search="ctrl.getSearchResults"
        >
        </component-search>

    <div class="app-booting" ng-if="ctrl.appBooting">
        <span class="app-booting-message">
            Content Server is rescanning. Please reload in a few minutes...
        </span>
        <md-progress-circular class="md-hue-1 diagram-container-spinner" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="app-working" ng-if="!ctrl.appBooting">
        <div class="left-panel">
            <subcircuit-categories
                selected-category="ctrl.selectedCategory"
                on-selection-change="ctrl.onCategorySelectionChange"
                lock-grid-columns="ctrl.lockGridColumns"
                app-booting="ctrl.appBooting"
                ></subcircuit-categories>
        </div>

        <category-resizer min-width="100"></category-resizer>

        <div class="main-container-panel">

            <div ng-if="ctrl.componentsToList" class="not-empty-list-content">

                <subcircuit-listing
                    components-to-list="ctrl.componentsToList"
                    paging-parameters="ctrl.pagingParameters"
                    get-next-page="ctrl.getNextPage"
                    get-prev-page="ctrl.getPrevPage"
                    on-page="ctrl.onPage"
                    selected-category="ctrl.selectedCategory"
                    search-text="ctrl.searchText"
                    column-search-text="ctrl.columnSearchText"
                    column-sort-info="ctrl.columnSortInfo"
                    new-data="ctrl.newData"
                    faceted-search="ctrl.facetedSearch"
                    set-faceted-search="ctrl.setFacetedSearch"
                    lock-grid-columns="ctrl.lockGridColumns"
                    selected-view="ctrl.listingView"
                    on-listing-view-selection="ctrl.onListingViewSelection(view)"
                    on-item-drag-start="ctrl.onItemDragStart"
                    on-item-drag-end="ctrl.onItemDragEnd"
                    no-download="ctrl.noDownload"
                    set-items-per-page="ctrl.setItemsPerPage"
                    results-for-search-text="ctrl.resultsForSearchText"
                    >
                </subcircuit-listing>


            </div>

            <div class="text-center empty-list-content"
                 ng-if="!ctrl.componentsToList"
                >

                <component-search
                    ng-if="!ctrl.appBooting"
                    search-text="ctrl.searchText"
                    do-search="ctrl.getSearchResults"
                    ></component-search>


                <div class="no-components-to-list panel panel-info" ng-if="!ctrl.errorMessage">
                    <div class="panel-body">
                        <i class="info-icon glyphicon glyphicon-info-sign"></i> Search for a keyword or browse the categories on the left and choose a class of categories to list.
                    </div>
                </div>

                <div class="error-message alert alert-warning" role="alert" ng-if="ctrl.errorMessage">
                    <i class="glyphicon glyphicon-warning-sign"></i> {{ctrl.errorMessage}}
                </div>

            </div>


        </div>

    </div>


</div>
