.content-categories {

    .tree-navigator {

        .extra-info-content {
            color: #999;            
        }

        border-top: 1px dotted #eee;

        header {
            display: none;
        }
    }

    h4 {
        padding-left: 10px;
    }

    .tree-navigator .selected-node > .node-label {
        background-color: #90CAF9;
    }

    .tree-navigator .icon-arrow-right:after {
        border-left-color: #0D47A1;
    }

    .tree-navigator .node-label {
        padding-left: 12px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 2;
        text-transform: uppercase;
        font-size: 85%;
    }

    .tree-navigator .node-expander {
        margin-left: -12px;
    }

    i.icon-arrow-right:after {
        margin-left: 5px;
    }

    i.icon-arrow-down:after {
        margin-left: 0;
    }

}
