<div class="view-selection btn-group">
    <button type="button"
            class="btn btn-default"
            aria-label="List"
            title="List view"
            ng-click="ctrl.selectView('ListView')"
            ng-class="{ 'selected': ctrl.selectedView === 'ListView' }"
        >
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </button>
    <button type="button"
            class="btn btn-default"
            aria-label="Grid"
            title="Grid view"
            ng-click="ctrl.selectView('GridView')"
            ng-class="{ 'selected': ctrl.selectedView === 'GridView' }"
        >
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </button>
</div>
