<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- written by Blake McBride  -->

    <!-- Library styles -->
    <% _.forEach(styles, function(style) { %><link rel="stylesheet" type="text/css" href="<%- style %>">
    <% }); %>
    <!-- // Library styles -->

    <link rel="stylesheet" type="text/css" href="styles/componentBrowser-app.css">

    <title>MetaMorph Component Browser</title>
</head>
<body ng-app="mms.componentBrowserApp" class="component-browser-app" ng-controller="AppController">


<component-browser
	persist-state-in-url
    list-view-items-per-page="40"    
></component-browser>


<!-- Library scripts -->
<% _.forEach(scripts, function(script) { %><script src="<%- script %>"></script>
<% }); %>
<!-- // Library scripts -->


<script src="scripts/componentBrowser-templates.js"></script>
<script src="scripts/componentBrowser.js"></script>


</body>
</html>
