@import "../../../../componentBrowser/directives/componentListView/styles/componentListView.scss";

.subcircuit-list-view.content-list-view .item-list ul.list-group li.item-list-item {

    padding-right: 10px;

    .subcircuit-details-grid {

        .subcircuit-description.no-icon .subcircuit-description-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .subcircuit-visuals {
            display: none;
        }

        margin-bottom: 1ex;

    }

    .expanded-details {

        .subcircuit-details-grid {

            .subcircuit-description.no-icon .subcircuit-description-text {
                max-height: none;
                white-space: normal;
            }

            .subcircuit-visuals {
                display: block;
            }


        }

    }

}
